<%= simple_form_for @game do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :solo, as: :boolean %>

  <%= f.simple_fields_for @game.red do |red| %>
    <%= red.association :offense, collection: Player.all.map { |p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[red][offense_id]', id: 'game_red_offense_id' } %>
    <%= red.association :defense, collection: Player.all.map { |p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[red][defense_id]', id: 'game_red_defense_id' } %>
    <%= red.input :score, as: :slider, input_html: { name: 'game[red][score]', id: 'game_red_score' } %>
    <%= content_tag :div, '', id: 'red_score_text' %>
  <% end %>

  <%= f.simple_fields_for @game.blue do |blue| %>
    <%= blue.association :offense, collection: Player.all.map { |p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[blue][offense_id]', id: 'game_blue_offense_id' } %>
    <%= blue.association :defense, collection: Player.all.map { |p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[blue][defense_id]', id: 'game_blue_defense_id' } %>
    <%= blue.input :score, as: :slider, input_html: { name: 'game[blue][score]', id: 'game_blue_score' } %>
    <%= content_tag :div, '', id: 'blue_score_text' %>
  <% end %>
  
  <%= f.input :date, input_html: { type: 'date' } %>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>

<%= content_for :javascript do %>
  <script type="text/javascript">
  $(function() {
    // var scoreValues = function() { $(this).next().text(this.value); }
    var scoreValues = function() { $(this).parent().next().text(this.value); }
    var disabledPlayers = function() {
      if($('#game_solo').is(':checked')) $('#game_red_defense_id, #game_blue_defense_id').prop('disabled',true);
      else $('#game_red_defense_id, #game_blue_defense_id').prop('disabled',false);
    }

    // scoreValues();
    disabledPlayers();
    $('#game_red_score, #game_blue_score').change(scoreValues);
    $('#game_solo').change(disabledPlayers);
  
  });
  </script>
<% end %>