<%= simple_form_for @game do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.simple_fields_for @game.red do |red| %>
    <%= red.association :offense, collection: Player.all.map {|p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[red][offense_id]' } %>
    <%= red.association :defense, collection: Player.all.map {|p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[red][defense_id]' } %>
    <%= red.input :score, input_html: { name: 'game[red][score]' } %>
  <% end %>

  <%= f.simple_fields_for @game.blue do |blue| %>
    <%= blue.association :offense, collection: Player.all.map {|p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[blue][offense_id]' } %>
    <%= blue.association :defense, collection: Player.all.map {|p| [p.name, p.id] }, include_blank: false, input_html: { name: 'game[blue][defense_id]' } %>
    <%= blue.input :score, input_html: { name: 'game[blue][score]' } %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>
