<% if team.solo? %>
  <%= content_tag :td, class: "#{result}-cell", colspan: '2' do %>  
    <%= link_to team.player.name, team.player if team.player.present? %>
  <% end %>
<% else %>
  <%= content_tag :td, class: "#{result}-cell" do %>  
    <%= link_to team.offense.name, team.offense if team.offense.present? %>
  <% end %>
  <%= content_tag :td, class: "#{result}-cell" do %>  
    <%= link_to team.defense.name, team.defense if team.defense.present? %>
  <% end %>
<% end %>
<%= content_tag :td, class: "#{result}-cell" do %>  
  <%= content_tag :div, team.score, class: "score #{result}" %></td>
<% end %>