<tr>
  <td><%= link_to 'Show', game, class: 'btn' %></td>
  <%= render 'game_team', team: game.red, result: (game.winner.nil? ? 'tie' : (game.winner == game.red) ? 'winner' : 'loser') %>
  <%= render 'game_team', team: game.blue, result: (game.winner.nil? ? 'tie' : (game.winner == game.blue) ? 'winner' : 'loser') %>
  <td><%= link_to edit_game_path(game), class: 'btn' do %><i class="icon icon-pencil"></i> Edit<% end %></td>
  <td><%= link_to game, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
    <i class="icon icon-white icon-trash"></i> Delete<% end %></td>
</tr>