<ul class="breadcrumb">
  <li><%= link_to 'Foosgab', root_path %> <span class="divider">/</span></li>
  <li class="active">Games</li>
</ul>

<h1>Games</h1>

<table class="table table-bordered">
  <%= render partial: 'games/table_header' %>

  <tbody>
    <%= render partial: 'game', collection: @games %>
  </tbody>
</table>

<%= paginate @games, theme: 'bootstrap' %>

<% if can?(:create, :game) %>
  <%= link_to 'New game', new_game_path, class: 'btn btn-success' %>
<% end %>