<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Red Offense</th>
      <th>Red Defense</th>
      <th>Blue Offense</th>
      <th>Blue Defense</th>
      <th>Red Score</th>
      <th>Blue Score</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to @game.red.offense.name, @game.red.offense unless @game.red.offense.nil? %></td>
      <td><%= link_to @game.red.defense.name, @game.red.defense unless @game.red.defense.nil?  %></td>
      <td><%= link_to @game.blue.offense.name, @game.blue.offense unless @game.blue.offense.nil?  %></td>
      <td><%= link_to @game.blue.defense.name, @game.blue.defense unless @game.blue.defense.nil?  %></td>
      <td><%= @game.red.score %></td>
      <td><%= @game.blue.score %></td>
    </tr>
  </tbody>
</table>


<%= link_to edit_game_path(@game), class: 'btn' do%><i class="icon icon-pencil"></i> Edit<% end %>
<%= link_to 'Back', games_path, class: 'btn' %>