<p id="notice"><%= notice %></p>

<h2><%= @player.name %>'s games</h2>

<%= content_tag :p, "#{pluralize(@player.games.count, 'game')}, with #{pluralize(@player.wins, 'win')}, #{pluralize(@player.losses, 'loss')} and #{pluralize(@player.ties, 'tie')}, and an average score of #{@player.average_score}" %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Permalink</th>
      <th>Date</th>
      <th>Red Offense</th>
      <th>Red Defense</th>
      <th>Red Score</th>
      <th>Blue Offense</th>
      <th>Blue Defense</th>
      <th>Blue Score</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'games/game', collection: @player.games, locals: {active: @player} %>
  </tbody>
</table>

<%= link_to edit_player_path(@player), class: 'btn' do%><i class="icon icon-pencil"></i> Edit<% end %>
<%= link_to 'Back', players_path, class: 'btn' %>