<ul class="breadcrumb">
  <li><%= link_to 'Foosgab', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Players', players_path %> <span class="divider">/</span></li>
  <li class="active"><%= @player.name %></li>
</ul>

<div class="row">
  <div class="span3">
    <%= avatar_tag @player %>
    <h3><%= @player.name %></h3>
    <% if @player.email.present? %>
      <div class="alert alert-success">
        <i class="icon icon-ok-sign"></i> This player is confirmed!
      </div>
    <% else %>
      <div class="alert alert-warning">
        <i class="icon icon-question-sign"></i> This player is unconfirmed.
      </div>
    <% end %>
    
    <hr>
    <ul class="stat-sheet">
      <% if can?(:email, :player) && @player.email.present? %>
        <i class="icon icon-envelope"></i> <%= link_to @player.email, "mailto:#{@player.email}" %>
      <% end %>

      <li><i class="icon icon-check"></i> <%= pluralize @player.games.count, 'game' %></li>
      <li><i class="icon icon-thumbs-up"></i> <%= pluralize @player.wins, 'win' %></li>
      <li><i class="icon icon-thumbs-down"></i> <%= pluralize @player.losses, 'loss' %></li>
      <% if @player.ties > 0 %><li><i class="icon icon-hand-right"></i> <%= pluralize @player.losses, 'ties' %></li><% end %>
      <li><i class="icon icon-flag"></i> <%= @player.average_score %> average score</li>
    </ul>

    <hr>

    <% if can? :update, :player %>
      <%= link_to edit_player_path(@player), class: 'btn' do%>
        <i class="icon icon-pencil"></i> Edit
      <% end %>
    <% end %>
    
    <% if can? :destroy, :player %>
      <%= link_to player_path(@player), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do%>
        <i class="icon icon-white icon-trash"></i> Delete
      <% end %>
    <% end %>
  </div>

  <div class="span9">
    <ul class="nav nav-tabs" id="player-tabs">
      <li class="active"><a href="#games" data-toggle="tab">Games</a></li>
      <li><a href="#stats" data-toggle="tab">Stats</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="games">
        <% if @games.any? %>
          <table class="table table-bordered">
            <%= render partial: 'games/table_header' %>
            <tbody>
              <%= render partial: 'games/game', collection: @games, locals: { active: @player } %>
            </tbody>
          </table>
          <%= paginate @games, theme: 'bootstrap' %>
        <% else %>
          <p>This player hasn't yet played any games.</p>
        <% end %>
      </div>

      <div class="tab-pane" id="stats">
        <p>Implement me!</p>
      </div>
    </div>
  </div>
</div>