<ul class="breadcrumb">
  <li><%= link_to 'Foosgab', root_path %> <span class="divider">/</span></li>
  <li class="active">Stats</li>
</ul>

<h1>Stats</h1>

<div class="row-fluid">  

  <div class="span6">
    <%= content_tag :div, '', id: 'games_chart', class: 'chart' %>
    <%= render_chart(@games_chart, 'games_chart') %>
  </div>

  <div class="span6">
    <%= content_tag :div, '', id: 'average_goals_chart', class: 'chart' %>
    <%= render_chart(@average_goals_chart, 'average_goals_chart') %>
  </div>

</div>

<div class="row">
    <%= content_tag :div, '', id: 'wins_share_chart', class: 'chart' %>
    <%= render_chart(@wins_share_chart, 'wins_share_chart') %>
</div>