<!DOCTYPE html>
<html>
<head>
  <title>Foosgab</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src='http://www.google.com/jsapi'></script>
</head>
<body>

<div class="container">

  <%= render 'layouts/header' %>

  <%= yield %>

<%= yield :javascript %>

<%= content_tag :div, id: 'spinner', class: 'hide' do %>
  <%= image_tag asset_path('spinny.gif') %>
<% end %>

<%= content_tag(:p) { debug(params) } if Rails.env.development? %>
</body>
</html>